In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import os
print(os.getcwd())

C:\Users\Tanish_Gupta\OneDrive\Desktop\ML Projects\ML Models\house-price-prediction\notebook

In [3]:
df = pd.read_csv("../data/Housing.csv")

In [4]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [5]:
df.shape

(545, 13)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

## DATA PREPROCESSING

In [7]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [8]:
# If missing values exist:

In [9]:
''' Numeric column:
df['column_name'].fillna(df['column_name'].mean(), inplace=True)
Categorical column:
df['column_name'].fillna(df['column_name'].mode()[0], inplace=True)
'''

" Numeric column:\ndf['column_name'].fillna(df['column_name'].mean(), inplace=True)\nCategorical column:\ndf['column_name'].fillna(df['column_name'].mode()[0], inplace=True)\n"

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
# if we see any duplicate rows
#df.drop_duplicates(inplace=True)

# Handle Categorical Variables

In [12]:
# Label Encoding
df['mainroad'] = df['mainroad'].map({'yes':1, 'no':0})

In [13]:
# One-Hot Encoding
df = pd.get_dummies(df, drop_first=True)

In [14]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,parking,guestroom_yes,basement_yes,hotwaterheating_yes,airconditioning_yes,prefarea_yes,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,1,2,False,False,False,True,True,False,False
1,12250000,8960,4,4,4,1,3,False,False,False,True,False,False,False
2,12250000,9960,3,2,2,1,2,False,True,False,False,True,True,False
3,12215000,7500,4,2,2,1,3,False,True,False,True,True,False,False
4,11410000,7420,4,1,2,1,2,True,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,2,False,True,False,False,False,False,True
541,1767150,2400,3,1,1,0,0,False,False,False,False,False,True,False
542,1750000,3620,2,1,1,1,0,False,False,False,False,False,False,True
543,1750000,2910,3,1,1,0,0,False,False,False,False,False,False,False
544,1750000,3850,3,1,2,1,0,False,False,False,False,False,False,True

# Feature Selection

In [15]:
X = df.drop('price', axis=1)

In [16]:
y = df['price']

In [18]:
# Train-Test Split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)