In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import pickle

In [4]:
df = pd.read_csv("../data/customers.csv")
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [7]:
print("Current columns:", df.columns.tolist())

Current columns: ['CustomerID', 'Genre', 'Age', 'Annual Income (k$)', 'Spending Score (1-100)']

In [8]:
df.columns = df.columns.str.strip()

In [9]:
df = df.rename(columns={
    'Annual Income (k$)': 'AnnualIncome (k$)',
    'Spending Score (1-100)': 'SpendingScore(1-100)'
})

In [10]:
X = df[["AnnualIncome (k$)", "SpendingScore(1-100)"]]

In [11]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)